/* RESET */
* {
    margin: 0px;
    padding: 0px;   
}
a {
    text-decoration: none;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: auto;
}

/* HEADER */
header{
    background-color: rgba(86, 81, 93, 0.236);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; 
    overflow: hidden;
}
.navbar .container-fluid a{
    color: rgb(200, 218, 233);
}
.navbar-nav li a {
    color: rgb(200, 218, 233);
}
nav{
    background-color: rgba(24, 4, 4, 0.518);
    width: 100%;
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(200, 218, 233);
}
.navbar-light .navbar-toggler {
    color: rgb(200, 218, 233);
    border-color: rgb(0,0,0,.1);
}

/* MAIN */
/*bienvenidos*/
.bienvenidos{
    background-image: url(../img/welcome.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}
.bienvenidos h2{
    padding: 40px;
    font-size: 80px;
    -webkit-text-stroke: 0.5px black;
}
.bienvenidos p{
    font-size: 25px;
    margin: 40px;
    padding-left: 30%;
    padding-right: 30%;
}

/*servicio*/

.servicio{
    padding-top: 50px;
    height: auto ;
    width: auto;
    background-image: url(../img/sombrilla.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
}
.servicioindex{
    padding-top: 50px;
    height: auto ;
    width: auto;
    background-image: url(../img/sombrilla.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
    
}
.servicioindex h2{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.636); 
    font-size: 45px;
    text-align: center;
    color: white;
}
.servicio h2{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.636); 
    font-size: 45px;
    text-align: center;
    color: white;
}
.servicio-contenido{
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column  ;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    height: auto;
}
.servicio-contenido p{
    padding: 10px 200px 50px 200px;
    font-size: 20px;
    color: aliceblue;
    font-family: Arial , Helvetica, sans-serif;
    text-decoration: solid;
    background-color: rgba(0, 0, 0, 0.636);   
}
.imagen-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}
.salon{
    grid-column: 1/1;
    grid-row: 1/2;
    overflow: hidden;
    object-fit: cover;
}

.imagen-container img{
    border: 7px solid rgb(60, 50, 50);
    border-radius: 5px;
    width: 370px;
    height: 280px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
    object-fit: cover;
}

/*habitaciones*/
.habitaciones{
    height: 100%;
    width: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    background-image: url(../img/pasillo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    flex-wrap: wrap;   
}
.habitaciones h2{
    margin-bottom: 50px;
    padding: 20px;
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    background-color: rgba(4, 6, 4, 0.448);
}   
/*habitacion comun*/
.habitacion-comun{
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-areas: 
    "img habitacion-comunes"
    "img habitacion-comunes"
    ;
    align-items: center;
}
.habitaciones .habitacion-comun img{
    width: 400px;
    height: 270px;
    border: 5px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
}
.habitaciones .habitacion-comun .habitacion-comunes{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.221);
    margin: 35px 50px 35px 50px;
}
.habitaciones .habitacion-comunes h3{
    margin: 25px;
    color: aliceblue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.habitaciones .habitacion-comunes p{
    color: aliceblue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/*habitacion full*/
.habitacion-full{
    margin: 25px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-areas: 
    "img habitacion-fulles"
    "img habitacion-fulles";
    align-items:center;
}
.habitaciones .habitacion-full img{
    width: 400px;
    height: 270px;
    border: 5px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
}
.habitaciones .habitacion-full .habitacion-fulles{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.221);
    margin: 35px 50px 35px 50px;
}
.habitaciones .habitacion-fulles h3{
    margin: 25px;
    color: aliceblue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.habitaciones .habitacion-fulles p{
    color: aliceblue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Contacto*/
.contactenos{
    padding-bottom: 20px;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: auto;
}

.contactenos h2 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.contactenos h2 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.877);
    background-color: rgba(36, 140, 231, 0.29);
    border-radius: 15px;
    border: 5px solid rgba(0, 0, 0, 0.67);
}
.contactenos h2 a:hover{
    background-color: rgba(0, 0, 255, 0.2);
}
/*pagina de contacto*/
.registro-contacto{
    width: 100%;
    height: 100%;
    padding-right: 35%;
    padding-left: 35%;
    padding-bottom: 10%;
    background-color: lightgrey;

}

.registro-contacto h2{
    font-size: 35px;
    margin: 20px;
    text-align: center;
}

.contacto{
    text-align: center;
}

.contacto div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto div label{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}
input{
    border: none;
    font-size: 16px;
    margin: 0;
    padding: 15px;
    width: 100%;
    color: #64696d;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) ;
}
input:focus{
    border: 2px solid black;
}
/*ubicacion*/

.ubicacion{
    width: auto;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(250, 235, 215, 0.847);
    box-sizing: border-box;
    flex-wrap: wrap;
}

.ubicacion h2{
    width: 100%;
    font-size: 45px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.636);
}
.ubicacion p {
    padding: 20px;
    font-size: 20px;
    color: aliceblue;
    font-family: Arial , Helvetica, sans-serif;
    text-decoration: solid;
    background-color: rgba(0, 0, 0, 0.636);
}
/* FOOTER */
footer{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: black;
    margin-top: auto;

}

.pie-pagina h2{
    color: aliceblue;
    font-size: 30px;
}

footer p{
    text-align: center;
    color: aliceblue;
}
.pie-pagina{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.redes img{
    margin: 5px;
    height: 35px;
    width: 35px;
}

@media screen and (max-width: 1200px) {
    main{
        width: 100%;
    }
    .imagen-container{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        overflow: hidden;
    }
}

@media screen and (max-width: 850px){
    main{
        width: 100%;
    }
    
    .bienvenidos{
        background-position: center;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: aliceblue;
    }
    .habitacion-comun{
        margin: 0px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .habitacion-comunes{
        margin: 0px;
        padding: 0px;
    }
    .habitacion-full{
        margin: 0px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .habitacion-fulles{
        margin: 0px;
        padding: 0px;
    }
    .ubicacion{
        background-position: center;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }
}
@media screen and (max-width:750px){
    main{
        width: 100%;
    }
    .bienvenidos{
        padding-top: 30%;
        justify-content: start;
        align-items: center;
    }
    .bienvenidos p{
        padding: 5%;
        margin: 0px;
    }
    .imagen-container{
        grid-template-columns:1fr;
        gap: 5px;
        overflow: hidden;
    }
    .imagen-container img{
        width: 75%;
        object-fit: cover;
    } 
    .contactenos{
        height: 100vh;
    }
}

@media screen and (max-width:645px){
    .bienvenidos h2{
        font-size: 60px;
        width: 100%;
    }
    .bienvenidos p{
        font-size: 20px;
    }
    .servicio-contenido p{
        padding: 5%;
    }
    .habitaciones .habitacion-comun img {
        width: 350px;
        height: 220px;
    }
    .habitaciones .habitacion-full img {
        width: 350px;
        height: 220px;
    }
    .contactenos h2{
        font-size: 35px;
    }
    .ubicacion{
        justify-content: space-evenly;
        height: 100vh;
    }
    .ubicacion .mapa iframe{
        width: 100%;
        height: 300px;
    }
}

