/*---HEADER---*/
header{
    background-color: rgba(86, 81, 93, 0.236);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; 
    overflow: hidden;
    .navbar .navbar-expand-lg .navbar-light{
        background-color: rgba(24, 4, 4, 0.518);
        width: 100%;
        .container-fluid{
            .navbar-brand{
                color: rgb(200, 218, 233);
            }
            .navbar-toogler{
                color: rgb(200, 218, 233);
                border-color: rgba(7, 7, 7, 0.1);
            }
            .collapse .navbar-collaps{
                .navbar-nav{
                    .nav-item{
                        .nav-link{
                            color: rgb(200, 218, 233);
                        }
                    }
                }
            }
        }
    }
}