/*--- MAIN ---*/
main {
    .bienvenidos {
        background-image: url(../img/welcome.jpg);
        opacity: 0.9;
        background-attachment: fixed;
        background-repeat: no-repeat;
        object-fit: fill;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: nth($colores,1);
        padding-top: 0px;

        h2 {
            font-size: 60px;
            padding: 40px;
            -webkit-text-stroke: 0.5px nth($colores,5);
            width: 100%;
            }
        }
        .pbienvenidos{
            p {
                font-size: 25px;
                margin: 40px;
                padding-left: 30%;
                padding-right: 30%;
            }
        }
        
        .servicioindex {
            padding-top: 80px;
            padding-bottom: 80px;
            height: auto;
            width: auto;
            background-image: url(../img/sombrilla.jpg);
            object-fit: fill;
            background-attachment: fixed;
            background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-bottom: 50px;
            h2 {
                padding-top: 40px;
                padding-bottom: 40px;
                background-color: nth($colores,5);
                font-size: 45px;
                text-align: center;
                color: nth($colores,1);
            }

            .servicio-contenido {
                font-size: 30px;
                @include flex(flex,center,center);
                flex-wrap: wrap;
                flex-direction: column;
                box-sizing: border-box;
                height: auto;

                p {
                    padding: 10%;
                    text-align: justify;
                    font-size: 20px;
                    color: nth($colores,1);
                    font-family: Arial, Helvetica, sans-serif;
                    text-decoration: solid;
                    background-color: nth($colores,5);
                }
        }
    }

    .contactenos {
        padding-bottom: 20px;
        background-image: url(../img/fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100%;
        width: auto;

        h2 {
            font-size: 50px;
            @include flex(flex, center, center);
            text-align: center;
            height: 100vh;

            a {
                text-decoration: none;
                color: nth($colores,5);
                background-color: nth($colores,4);
                border-radius: 15px;
                border: 5px solid nth($colores,5);

                &:hover {
                    background-color: nth($colores,4);
                }
            }
        }
    }
}
