/*--- PAGINA DE SERVICIO ---*/
main{
    .servicio{
        height: auto ;
        width: auto;
        background-image: url(../img/sombrilla.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-bottom: 50px;
        h2{
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: rgba(0, 0, 0, 0.636); 
            font-size: 45px;
            text-align: center;
            color: white;
        }
        .carousel{
            margin: 20px;
            .carousel-inner{
                .carousel-item{
                    img{
                        height: 80vh ;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}