/*---PAGINA DE UBICACION ---*/
main {
    .ubicacion {
        width: auto;
        height: 100%;
        background-color: rgba(250, 235, 215, 0.847);
        background-position: center;
        box-sizing: border-box;
        flex-wrap: wrap;

        h2 {
            width: 100%;
            font-size: 45px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            color: aliceblue;
            background-color: rgba(0, 0, 0, 0.636);
        }

        .contenidoUbicacion {
            margin: 5%;
            @include flex (flex, space-around, center) 
            }
            p {
                padding: 50px;
                font-size: 20px;
                color: aliceblue;
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: solid;
                background-color: rgba(0, 0, 0, 0.636);
            }
            .mapa{
                margin: 50px;
            }
    }
}